# --- CONFIGURATION OPTIMIZED (agussutanto564) ---
# Tambahkan link database GeoX Meta agar IP-ASN terbaca sempurna
geox-url:
  geoip: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.metadb"
  geosite: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geosite.dat"
  mmdb: "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@release/geoip.metadb"

port: 7890
socks-port: 7891
redir-port: 7892
mixed-port: 7893
tproxy-port: 7895
ipv6: false
mode: rule
log-level: info # Ubah ke info agar Anda bisa melihat log jika ada error
allow-lan: true
unified-delay: true
tcp-fast-open: false
tcp-concurrent: true
external-controller: 127.0.0.1:9090
keep-alive-interval: 15

# --- DNS SETTINGS ---
dns:
  enable: true
  ipv6: false
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  listen: 0.0.0.0:7874
  # Penambahan sniffing internal DNS
  nameserver:
    - 8.8.8.8
    - 1.1.1.1
    - 'https://dns.google/dns-query'
  proxy-server-nameserver:
    - 8.8.8.8
  fake-ip-filter:
    - '+.google.com'
    - '+.gstatic.com'
    - '+.push.apple.com'
    - '+.tiktok.com'
    - '+.tiktokv.com'
    - '+.tik-tokapi.com'

# --- SNIFFER ---
sniffer:
  enable: true
  sniff:
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443] # Penting untuk YouTube & TikTok
    HTTP:
      ports: [80, 8080-8880]

proxy-providers:
  Akun-VPN:
    type: http
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/vpn.yaml"
    interval: 86400
    path: "./provider/vpn.yaml"
    health-check:
      enable: true
      url: http://cp.cloudflare.com/generate_204
      interval: 150
      timeout: 3000

proxy-groups:
  - name: VPN
    type: select
    use:
      - Akun-VPN

rule-providers:
  Rule_TikTok:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/tiktok.yaml"
    interval: 86400
    path: "./provider/tiktok.yaml"

  Rule_WhatsApp:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/whatsapp.yaml"
    interval: 86400
    path: "./provider/whatsapp.yaml"

  Rule_YouTube:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/youtube.yaml"
    interval: 86400
    path: "./provider/youtube.yaml"

rules:
  # Urutan: LAN/Direct dulu -> Rule Specific -> GeoIP/Match
  - IP-CIDR,127.0.0.0/8,DIRECT,no-resolve
  - IP-CIDR,192.168.0.0/16,DIRECT,no-resolve
  - GEOIP,LAN,DIRECT
  - RULE-SET,Rule_WhatsApp,VPN
  - RULE-SET,Rule_TikTok,VPN
  - RULE-SET,Rule_YouTube,VPN
  - GEOIP,ID,VPN
  - MATCH,VPN
