port: 7890
socks-port: 7891
redir-port: 7892
mixed-port: 7893
tproxy-port: 7895
ipv6: false
mode: rule
log-level: silent
allow-lan: true
unified-delay: true
tcp-fast-open: true
tcp-concurrent: true
external-controller: 127.0.0.1:9090
keep-alive-interval: 10

dns:
  enable: true
  ipv6: false
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  listen: 0.0.0.0:7874
  fake-ip-filter:
    - 'support.udemy.com'
    - '+.udemy.com'
    - '+.ruangguru.com'
    - 'id-atha001.kegiatankerja.my.id'
    - '+.kegiatankerja.my.id'
    - 'tiktok.com'
    - 'tiktokv.com'
    - 'tiktokcdn.com'
    - 'tiktokstatic.com'
    - 'tiktokd.org'
    - 'tiktokv.us'
    - 'tik-tokapi.com'
    - 'musical.ly'
    - 'muscdn.com'
    - 'musemuse.cn'
    - 'm.tiktok.com'
    - 'id.tiktok.com'
    - 'v16-webapp-prime.tiktok.com'
    - 'webcast.tiktok.com'
    - 'sec.tiktok.com'
    - 'verification.tiktok.com'
    - 'api-m.tiktok.com'
    - 'api16-core-c-useast1a.tiktokv.com'
    - 'mon.tiktokv.com'
    - 'log-va.tiktokv.com'
    - 'rtlog-va.tiktokv.com'
    - 'webcast-va.tiktokv.com'
    - 'webcast-sg.tiktokv.com'
    - 'webcast-v6.tiktokv.com'
    - 'tiktokcdn-eu.com'
    - 'tiktokcdn-us.com'
    - 'tiktokcdn-sea.com'
    - 'p16-va.tiktokcdn.com'
    - 'p16-sign-sg.tiktokcdn.com'
    - 'p16-webcast.tiktokcdn.com'
    - 'tiktok-v6.com'
    - 'byteoversea.com'
    - 'byteoversea.net'
    - 'ttoversea.net'
    - 'ttoverseaus.net'
    - 'log.byteoversea.com'
    - 'tiktok-v6-id.byteoversea.com'
    - 'tiktok-v6-sg.byteoversea.com'
    - 'byteimg.com'
    - 'ibyteimg.com'
    - 'byteimg-oversea.com'
    - 'p16-tiktok-sg.ibyteimg.com'
    - 'p16-tiktok-va.ibyteimg.com'
    - 'p16-webcast.ibyteimg.com'
    - 'p16-tiktok-sign.ibyteimg.com'
    - 'p16-web-sing.ibyteimg.com'
    - 'p16-security-sg.ibyteimg.com'
    - 'ibytedtos.com'
    - 'pstatp.com'
    - 'ipstatp.com'
    - 'sgpstatp.com'
    - 'flive.pstatp.com'
    - 'snssdk.com'
    - 'sgsnssdk.com'
    - 'isnssdk.com'
    - 'ttvideo.com'
    - 'ttwstatic.com'
    - 'bytegecko.com'
    - 'bytegecko-i18n.com'
    - 'bytefcdn.com'
    - 'bytefcdn-tt.com'
    - 'bytefcdn-oversea.com'
    - 'bytefcdn-static.com'
    - 'bytefcdn-tt-alpha.com'
    - 'bytedapm.com'
    - 'byteintl.net'
    - 'byteglb.com'
    - 'byteeffect.com'
    - 'bytedns.net'
    - 'byteicdn.com'
    - 'volces.com'
    - 'volceingest.com'
    - 'byteactivity.com'
    - 'tlivecdn.com'
    - 'ttlivecdn.com'
    - 'tiktok-v6-sg.ibyterom.com'
    - 'bytedance.com'
    - 'volcengine.com'
    - 'volcengineapi.com'
    - 'bytedance.net'
    - 'byteicdn.net'
    - 'bytebus.com'
    - 'bytetos.com'
    - 'ttads.com'
    - 'bytegoofy.com'
    - 'bytedanceapi.com'
    - 'bytepond.com'
    - 'bytedance.io'
    - 'bytemod.com'
    - 'bytehtest.com'
    - 'tiktokv.com.edgesuite.net'
    - 'tiktok.com.edgesuite.net'
    - 'tiktokcdn-com.edgekey.net'
    - 'sf16-muse-va.ibytedtos.com'
    - 'sf16-sg.ibytedtos.com'
    - 'v16.tiktokcdn.com'
    - 'v19.tiktokcdn.com'
    - 'v21.tiktokcdn.com'
    - 'tiktok-all-va.byteoversea.com'
    - 'bytevfs.com'
    - 'effecthouse.com'
    - 'capcut.com'
    - 'byted-static.com'
    - 'byteimg.com.akamaized.net'
    - 'tiktokv.akamaized.net'
    - 'pangle.io'
    - 'getaglobal.com'
    - 'byteoversea.com.edgesuite.net'
    - 'bdurl.net'
    - 'bytedance.com.cdn.cloudflare.net'
    - 'bytegecko.net'
    - 'bytetos.net'
    - 'byte-static.com'
    - 'volcengine.net'
    - 'volces.net'
    - 'byte-dns.com'
    - 'bytednsapi.com'
    - 'is.snssdk.com'
    - 'look.snssdk.com'
    - 'ibytedapm.com'
    - 'tokopedia.com'
    - 'tokopedia.net'
    - 'tokope.id'
    - 'tokopedianow.com'
    - 'assets-tokopedia.com'
    - 'aj-cdn.com'
    - 'go-jek.com'
    - 'gotocompany.com'
    - 'go-pay.co.id'
    - 'midtrans.com'
    - 'tawk.to'
    - 'cloudfront.net'
    - 'tiktokshop.com'
    - 'ibyteit.com'
    - 'byteintl.com'
    - 'byteoversea.i18n.com'
    - 'sgsnssdk.org'
    - 'ctobsnssdk.com'
    - 'go-jek.io'
    - 'gojekapi.com'
    - 'gojek.com'
    - 'go-pay.id'
    - 'tokopoints.com'
    - 'tokopedia.com.edgekey.net'
    - 'tkp.me'
    - 'tokopediastatic.com'
    - 'ecom-api-sg.tiktok.com'
    - 'm-shop.tiktok.com'
    - 'seller-sg.tiktok.com'
    - 'seller.tiktok.com'
    - 'shoppay.tiktok.com'
    - 'ads-sg.tiktok.com'
    - 'analytics-sg.tiktok.com'
    - 'gosend.id'
    - 'gopay.id'
    - 'toko.ly'
    - 'gopay.co.id'
    - 'ascent.tokopedia.com'
    - 'promotion.tokopedia.com'
    - 'akamaized.net'
    - 'edgecastdns.net'
    - 'edgecastcdn.net'
    - 'fastly.net'
    - 'app-measurement.com'
    - 'crashlytics.com'
    - 'myvzw.com'
    - 'tiktokv.com.edgekey.net'
    - 'byteoversea.com.edgekey.net'
    - 'star-tiktok-jp-v6.akamaized.net'
    - 'm-tiktok-com.akamaized.net'
    - 'tiktokcdn-us.com.akamaized.net'
    - 'byteorange.com'
    - 'bytemover.com'
    - 'byteconf.com'
    - 'bytedance.static.com'
    - 'giphy.com'
    - 'gvt1.com'
    - 'worldfcdn.com'
    - '-tiktok.byteoversea.com'
    - '-tiktokcdn-com'
    - '-tt.byteimg.com'
    - '-tt-ipv6.byteimg.com'
    - '-hs.pstatp.com'
    - '-tos.pstatp.com'
    - '-mus.pstatp.com'
  default-nameserver:
    - 8.8.8.8
  nameserver:
    - 8.8.8.8
    - 1.1.1.1

sniffer:
  enable: true
  sniff:
    TLS:
      ports: [443, 8443]
    HTTP:
      ports: [80, 8080-8880]

proxy-providers:
  Akun-VPN:
    type: http
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/vpn.yaml"
    interval: 86400
    path: "./provider/vpn.yaml"
    health-check:
      enable: true
      url: http://cp.cloudflare.com/generate_204
      interval: 150
      timeout: 2000

proxy-groups:
  - name: VPN
    type: select
    use:
      - Akun-VPN
    url: http://cp.cloudflare.com/generate_204
    interval: 150
    tolerance: 100
    timeout: 2000

rule-providers:
  Rule_TikTok:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/tiktok.yaml"
    interval: 86400
    path: "./provider/tiktok.yaml"

  Rule_WhatsApp:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/whatsapp.yaml"
    interval: 86400
    path: "./provider/whatsapp.yaml"

  Rule_YouTube:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/youtube.yaml"
    interval: 86400
    path: "./provider/youtube.yaml"

rules:
  - IP-CIDR,127.0.0.0/8,DIRECT,no-resolve
  - IP-CIDR,192.168.0.0/16,DIRECT,no-resolve
  - GEOIP,LAN,DIRECT
  - RULE-SET,Rule_WhatsApp,VPN
  - RULE-SET,Rule_TikTok,VPN
  - RULE-SET,Rule_YouTube,VPN
  - GEOIP,ID,VPN
  - MATCH,VPN
