# --- CONFIGURATION OPTIMIZED (agussutanto564) ---
port: 7890
socks-port: 7891
redir-port: 7892
mixed-port: 7893
tproxy-port: 7895
ipv6: false
mode: rule
log-level: silent
allow-lan: true
unified-delay: true
tcp-fast-open: false
tcp-concurrent: true
external-controller: 127.0.0.1:9090
keep-alive-interval: 15

dns:
  enable: true
  ipv6: false
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  listen: 0.0.0.0:7874
  fake-ip-filter:
    - '+.google.com'
    - '+.gstatic.com'
    - '+.push.apple.com'
  default-nameserver:
    - 8.8.8.8
  nameserver:
    - 8.8.8.8
    - 1.1.1.1

sniffer:
  enable: true
  sniff:
    TLS:
      ports: [443, 8443]
    HTTP:
      ports: [80, 8080-8880]

proxy-providers:
  Akun-VPN:
    type: http
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider_files/rule_vpn.yaml"
    interval: 3600
    path: "./providers/vpn.yaml"
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 300
      timeout: 5000

proxy-groups:
  - name: VPN
    type: select
    use:
      - Akun-VPN

rule-providers:
  Rule_TikTok:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/tiktok.yaml"
    interval: 86400
    path: "./providers/tiktok.yaml"

  Rule_WhatsApp:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/whatsapp.yaml"
    interval: 86400
    path: "./providers/whatsapp.yaml"

  Rule_YouTube:
    type: http
    behavior: classical
    url: "https://raw.githubusercontent.com/agussutanto564/CLASH_for_Android/main/provider/youtube.yaml"
    interval: 86400
    path: "./providers/youtube.yaml"

rules:
  - IP-CIDR,127.0.0.0/8,DIRECT,no-resolve
  - IP-CIDR,192.168.0.0/16,DIRECT,no-resolve
  - GEOIP,LAN,DIRECT
  - RULE-SET,Rule_WhatsApp,VPN
  - RULE-SET,Rule_TikTok,VPN
  - RULE-SET,Rule_YouTube,VPN
  - GEOIP,ID,VPN
  - MATCH,VPN
  
